body {
	margin: 24px;
	font-size: 32px;
	font-family: sans-serif;
	color: #fff;
	background-color: #171a1e;
}

.section {
	padding: 20px;
	margin-top: 500px;

	/* Make the section transition into view. */
	opacity: 1;
	transition: opacity 3s ease;
}

.hidden-section {
	opacity: 0;
}
